:root {
  --theme :#ff3939;

}

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 @font-face {
   font-family: "Technology-Bold";
   src: url('Technology-Bold.ttf')
 }

 body {
   height: 100vh;
 /*  background: url('/tasbeeh counter/rhombusBlack.jpg'); */
   /* background: #ecedff;*/
 /*  background: linear-gradient(to right bottom, #FFEFBD, #50A7FF*/
  
   background: url("https://i.ibb.co/mTCtGh9/background.jpg");

   background-size: cover;
   background-position: center;
   display: grid;
   place-items: center;
padding-bottom: 30px;
}
 .color-widget {
   height:40px;
   width:100%;

   display:flex;
   align-items: center;
   justify-content: flex-end;
   background: none;
   position: sticky;
   top:20px;
   padding-right: 10px;
 }
 
 .color-widget select {
   font-size: 1rem;
   font-weight: 500;
   height: 30px;
   width: 90px;
   padding-left: 10px;

   border-radius: 6px;
   border: 1px solid #f2f2f2;
   background:transparent;
   backdrop-filter: blur(6px);
   box-shadow: -2px 3px 4px 0px #00000090;
   color: #fff;
 }
 

 .color-widget select:focus {
   outline: none;
 }

 .All {
   height: 550px;
   width: 100%;
   border: ;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
 }

 .container {
   background: #6610f2
     /*#dc3545*/
     /* #20c997 */
   ;
   background: var(--theme);
   background: ;
   height: 250px;
   width: 220px;
   padding-top: 20px;

   border-radius: 50% 50% 50% 50% / 50% 50% 100% 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   box-shadow: inset -2px 2px 2px #FFFFFF90, inset 2px -2px 2px #00000040, 0px 1px 6px 0px #9798B510,-1px 5px 2px #00000080;
   position: relative;

 }

 .container::before {
   content: "";
   height: inherit;
   width: inherit;
   background: transparent;
   position: absolute;
   top: 0px;
   z-index: -2;
   border-radius: 50% 50% 50% 50% / 50% 50% 100% 100%;
    box-shadow: -19px 10px 16px 0px  #00000060;
 }

 .container::after {
   content: "";
   height: 90%;
   width: 90%;
   background: linear-gradient( -145deg, #262626 , #1a1a1a, #000000);
   background-size: 300px;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   z-index: 1;
   border-radius: 50% 50% 50% 50% / 50% 50% 100% 100%;

 }

 #tasbeeh {
   color: #fff;
   margin: 10px auto;
   font-family: sans-serif;
   font-size: 1rem;
   opacity: 0;
   z-index: 111;
   font-weight: 500;
   text-transform: uppercase;
 }

 .counter {
   z-index: 11;
   position: absolute;
   top: 30px;
   border-radius: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 90px;
   width: 180px;
   background-image: linear-gradient(to right bottom, #262626, black);
   box-shadow: inset -3px -3px 2px #00000080;
   background: transparent;
   box-shadow: none;
 }

 .band {
   z-index: -1;
   height: 520px;
   width: 100px;

   background: linear-gradient(to right, #ffffff80 5%, #FFFFFF99, #ffffff80 30%, #ffffff80 70%, #FFFFFF99, #ffffff80 100%);
/*  backdrop-filter: blur(2px);*/
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   border-radius: 50px;

   border: 2px solid #FFFFFF9E;
   box-shadow: -4px 8px 4px 0px  #00000020,1px -1px 4px 0px #00000020;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;

/*
background-clip: text;
-webkit-background-clip: text;
color: transparent;
*/
 }
 
 

 .band-up {
   height: ;
   width: 40px;
   
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 16px;
   gap: 14px;
   
   
 }

 .band-down {
   height: ;
   width: 40px;
 
   display: grid;
   place-items: center;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-bottom: 16px;
   gap: 14px;
 }

 .band-up .band-circle {


   background:transparent;

   backdrop-filter:
   brightness(.6) saturate(2) 
   ;
   border: 1px solid #FFFFFFBA;
box-shadow:inset -2px 2px 2px 0px #00000020;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
 }

 .band-down .band-circle {

   background:linear-gradient(to right top,#ffffff50 30%, #FFFFFFC2 70%);
   box-shadow: inset .5px .5px 2px #ffffff50, inset -.5px -1px 1px #00000020, -1px 1px 3px #00000020;
 backdrop-filter: blur(2px);
 border:1px solid lightgray;
 }

 .band-circle {
   height: 16px;
   width: 16px;
   border-radius: 50px;

 }

 #count {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   font-size: 3rem;
   color: #1C1D15;
   height: 50px;
   width: 140px;
   background: #9BAB8E;
   font-family: "Technology-Bold";
   padding-right: 10px;
   padding-top: 8%;

   box-shadow: inset 2px 4px 4px 0px #1C1D15;
   border: 2px solid lightgray;
   border-radius: 5px;
   /* background: #24FF00;*/

 }

 #count h4 {}

 .buttons {
   z-index: 11;
   height: 120px;
   width: 120px;
   /*   border: 2px solid black; */
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: center;
   position: relative;
 }



 .buttons h4 {
   color: #E2E2E2;
   z-index: 111;
   position: absolute;
   font-family: sans-serif;
   font-weight: 500;
 }

 .buttons h4:first-child {
   top: 8px;
   left: -24px;
   font-size: 1.1rem;
 }

 .buttons h4:nth-child(2) {
   top: 8px;
   right: -18px;
   font-size: 1.1rem;
 }

 .buttons h4:nth-child(3) {
   top: 30px;
   font-size: 1.3rem;
 }

 #count-svg {
   position: absolute;
   top: -10px;
   left: -72px;
   transform: rotate(9deg);
 }

 .text {
   font-size: 1.3rem;

   font-weight: 500;
   fill: #E2E2E2;
   font-family: sans-serif;
 }

 #curve {
   fill: transparent;
 }

 #resetBtn {
   height: 28px;
   width: 28px;
   border-radius: 50px;
   position: absolute;
   top: 32px;
   left: -15px;
   background: var(--theme);

   box-shadow: inset -2px 2px 2px #ffffff80, inset 1px -1px 2px #00000050, 1px 2px 1px #00000050;
   /*  border: 2px solid gray;*/
   border: none;
   transition: all .3s;
 }

 #ledBtn {
   height: 28px;
   width: 28px;
   border-radius: 50px;
   position: absolute;
   top: 32px;
   right: -15px;
   background: var(--theme);

   box-shadow: inset -2px 2px 2px #ffffff80, inset 1px -1px 2px #00000050, 1px 2px 1px #00000050;
   /*  border: 2px solid gray;*/
   border: none;
   transition: all .3s;
 }

 #increaseBtn {
   height: 65px;
   width: 65px;
   border-radius: 50px;
   background: var(--theme);
   /*  border: 2px solid gray;*/
   border: none;
   box-shadow: inset -4px 4px 4px #ffffff80, inset 2px -2px 4px #00000050, 1px 2px 2px #00000050;
   transition: all .25s;
   position: absolute;
   top: 55px;
 }

 #increaseBtn:active,
 #ledBtn:active {
   transform: scale(.93);
   box-shadow: inset -4px 4px 2px #ffffff20, inset 2px -2px 2px #00000050, 1px 1px 1px #00000080;
 }

 .credits {
   font-family: verdana;
   height: 40px;
   background: white;
   z-index: 99999;
   border-radius: 50px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   position: fixed;
   bottom: 10px;
   left: 10px;
   padding: 0 20px;
   gap: 10px;
 }

 .credits h4 {
   font-weight: 600;
   font-size: 12px;
   color: #262626;
 }

 .credits a {
   font-weight: 500;
   font-size: 12px;
   color: royalblue;
   text-decoration: ;
    }
